* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/images/bg-m.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* 
   ########################
          General 
   ######################

*/

a {
     text-decoration: none;
     
}

fieldset {
            border: none;
}

/* 
   ########################
          General END
   ######################

*/

/* 
####################
Header block start

#####################

*/




header {
           width: 100%;
           height: 140px;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           padding: 15px;
           margin: 20px 0 15px 0;
           /* Don't not scroll with page */
           position: sticky;
           top: 0;
           /* background: url(../assets/images/header-bg.gif); */
           background-repeat: no-repeat;
           background-size: cover;
           color: rgb(248, 249, 252);
          
          
           


}

/* 
  ########## Group A in Header
*/

/* group_A */
.group_A {
            width: auto;
            height: 100px;
            margin: 20px 0 0 15px;

}


/* logo */
   .logo {
            width: 80px;
            height: 80px;

   }

   /* Liberia West Africa */
   .address {
               
               display: inline;
               margin: 120px 0 0 25px ;
   }

/* navbar */
.nav-bar {
              margin: 38px 30px 0 0;
}

/* ul li */

ul li {
         display: inline;
         margin: 10px 10px 0 5px;
}

/* Nav links */
.nav-links a {
              text-decoration: none;
              color: #fff;
              font-size: 1.5em;

}

/* Main block of sections  */

main {
         width: 100%;
         height: auto;
        display: flex;
        flex-wrap: wrap;
        
}

/* welcome section */
.welcome {
           width: 50%;
           height: auto;
           color: #fff;
           border-right: 2px solid #fff;
           border-top-right-radius: 10%;
           border-bottom-right-radius: 6%;
           margin: 115px 56px 0 70px;
}
/* Welcome text */
.welcome .bfc {
                font-weight: bold;
                margin: 0 0 28px 0;
                font-size: 4em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.quoted {
            width: 60%;
            height: 125px;
            margin: 0 0 0 30px;

}

/* Newsletter section */

.newsletter {
               width: 35%;
               height: 230px;
               /* border: 2px solid white; */
               margin: 250px 0 0 70px;
               /* text-align: center; */
               
}




.newsletter form { 
                      padding: 20px;
                       /*
                         ################
                            To be added
                         ##############
                       */

}

.newsletter form  input {
                    width: 60%;
                    height: 50px;
                    background: none;
                    margin: 2px 0 10px 15px;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    border-bottom: 1px solid #fff;
}

.newsletter form  input::placeholder {
                    color: #fff;
                     padding: 2px 0 2px 10px;
                     
                    
}

#news-signup {
                margin: 5px 0 0 20px;
                width: 40%;
                height: auto;
}

.newsletter form  legend {
                    color: #fff;
                  
                     
                    
}


/* 
    ##############################
           Footer Block
    ##############################

*/

footer {
             width: 100%;
             height: 200px;
             padding: 5%;
             justify-content: center;
             /* margin-left: 10px;
             margin-right: 10px; */
              text-align: center;
}
footer p {  
               width: 50%;
               margin: 10px 0 0 280px;
               color: rgb(0, 0, 0);
}

.nav-footer {
                  margin: 0 0 -5px 0;
}



/* 
   ##################################
          ABout US page self CSS
   ###############################

*/

.about-us {

           width: 50%;
            margin-top: 127px;
}

.no-bg {
           background: none;
}

.h-main-bg {
            background: url(../assets/images/header-bg.gif);
           background-repeat: no-repeat;
           background-size: cover;
           border-radius: 64px;
           color: rgb(255, 255, 255);             
}

.bfc-about {
              font-size: 39px;
              margin: 0 0 35px 0;
              color: #653021;
}

.about-us p {
               margin: 10px 0 0 15px;
               letter-spacing: normal;
}

/* CEO image Card */

#card-ceo {
             margin: 123px 0 0 110px;
             text-align: center
}

.card img {
             width: 100%;
             height: 300px;
}
/* Our Mission Section */
.our-mission {
               margin: 100px 10px 15px 10px;
               padding: 25px;
               width: 100%;
               height: auto;
               display: flex;
               justify-content: space-between;
               
}
.our-mission div {
                    text-align: center;
               
}

#mission-text {
                 display: block;
                 margin-top: 50vh;
                 margin-left: 35%;
                 width: 25rem;
                 height: auto;
                 font-size: 2em;
                 color: #fff;
                 border-top-left-radius: 40px;
                 border-bottom-right-radius: 40px;
}

#mission-text a {
                
                 color: #fff;
                 text-decoration: none;
}


/* Footer block about page */
.nav-footer-about ul li a {
                     color: blue;

}
.nav-footer-about {
                     margin-top: -40px;
}


/* 
      #############################################
               Donate Page CSS
      #############################################

*/

.donate-main {
                 margin-bottom: -2vh;
}